/*
Style sheet for Project and JP Web site
Author: Jacob Pell
Initial date 11/14/2018
Used to modify or specify bootstrap framework
*/

#mainWrapper {
	padding: 0!important;
}

.header {
	max-height: 200px;
	background: #9feaf9;
}
nav ul {
	width: 100%;
}
article.home h2 {
	padding-top: 10%!important;
	margin-top: 0px!important;
}
article.home p, article.home h2 {
	margin: 20px;
	font-weight: bold;
	color: #0d6a7c;
	z-index: 1;
	position: relative;
}
article.home {
	padding: 0!important;
	height: 500px!important;
}
div.collab {
	background: #70C7E6 url("img/client.jpg") no-repeat center;
	background-size: cover;
	opacity: 0.3;
	z-index: -1;
	position: absolute;
	width: 100%!important;
	height: inherit;
}
div.proj {
	background: #70C7E6 url("img/website.png") no-repeat center;
	background-size: cover;
	opacity: 0.3;
	z-index: -1;
	position: absolute;
	width: 100%!important;
	height: inherit;
}
div.process {
	background: #70C7E6 url("img/design.jpg") no-repeat center;
	background-size: cover;
	opacity: 0.3;
	z-index: -1;
	position: absolute;
	width: 100%!important;
	height: inherit;
}
.round {
	border-radius: 50%;
	height: 100%;
}
.round:before {
	display: block;
	padding-top: 100%;
}
.title {
	font-weight: bold;
	text-shadow: -3px 3px 5px #666;
}
footer {
	background:#9feaf9 100%;
}
.fb {
	color:#3b5998;
}
.tw {
	color:#55acee;
}
.in {
	color:#0077b5;
}
.email {
	color:#0a91ab;
}
#copyright {
	line-height:1em;
	color:rgba(0,0,0,.5);
}
div#badge {
	max-width: 200px;
	max-height: 200px;
	border: 2px solid black;
	border-radius: 50%;
}
.sitelink, .sitelink:hover {
	padding: 0px!important;
	margin: 0px!important;
	width: 50%;
	color: black;
	text-decoration: none;
}
